@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GTWalsheimProRegular";
  src: url("../public/GTWalsheimProRegular.ttf");
}
@font-face {
  font-family: "GTWalsheimProBold";
  src: url("../public/GTWalsheimProBold.ttf");
}

html,
body {
  font-size: 85%;
  padding: 0;
  margin: 0;
  /* overflow provented when is anaimated from start {y: 100%} to end {y: 0%}*/
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
